{% extends 'base.html' %}

{% block content %}

    <main class="container py-5">
        <section class="card card-body">
            <h1 class="display-1 text-center">Aplicacion de prueba</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi non consequat massa. Fusce a tincidunt nibh. In hac habitasse platea dictumst. Suspendisse et lorem porttitor, egestas elit vel, molestie dolor. Nulla condimentum nisl id ligula sodales porta. Pellentesque sit amet pulvinar massa, in pellentesque leo. Mauris tincidunt, turpis commodo consectetur laoreet, purus libero interdum velit, id lobortis magna ipsum at dui. Praesent vitae libero non metus maximus convallis. Integer at eleifend ipsum. Sed eleifend arcu ex, sit amet sollicitudin enim luctus sit amet. Nullam vitae augue nibh. Aenean sit amet nulla a nisl porta ultricies. Aliquam tempor ligula ac ipsum.</p>

            <div class="text-center">
                <a class="btn btn-info" href="/signin/">
                    Signin
                </a>
                <a class="btn btn-info" href="/signup/">
                    SignUp
                </a>
            </div>

        </section>
    </main>

{% endblock %}

